<h1>Editing picture</h1>

<% form_for(@picture) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => { :f => f, :label_text => "Update"} %>
<% end %>

<%= link_to 'Show', @picture %> |
<%= link_to 'Back', pictures_path %>
